$main: #2196f3;
$success: #4caf50;
$danger: #f44336;
$border-color: #e7e7e7;
$white: #fff;
$black: #3c3c3c;
$page-bg: #f7f7f7;

$btn-min-width: 80px;
$btn-radius: 25px;

$bp-xs: 480px;
$bp-sm: 767px;
$bp-md: 991px;
$lg-lg: 1199px;
